body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* customs */
#profile-pic{
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.nav-links{
  display: flex;
  justify-content: start !important;
  border-bottom: 1px white;
}

.underline{
  border-bottom: 5px solid orange;
}

.center{
 display: flex;
 justify-content: center;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  background-color: #222222 !important;
}

.customCard{
  border: 1px solid gray;
}

.px-1{
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.custom-badge{
  border-radius: 25px;
  padding: 0.5em 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 12px;
}

.proficient{
  background-color: violet;
  color: black;
}

.expert{
  background-color: lightgreen;
  color: black;
}

.competent{
  background-color: orange;
  color: white;
}

.novice{
  background-color: gray;
  color: white;
}

.scrollable-body{
  height: 5em;
  overflow-y: auto;
}
